@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-body;
}

.nav-links {
  position: relative;
}

.active {
  border-bottom: 2px solid #ffe894;
}

.nav-links::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: -5px;
  height: 2px;
  background-color: #ffe894;
  transition: width 0.2s ease-in-out;
}

.nav li a:hover::after {
  width: 100%;
}

.hero {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 81, 83, 0.4),
      rgba(255, 232, 148, 0.4)
    ),
    url("../images/hero-left.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 5;
}

.btn {
  @apply border border-secondary bg-secondary text-primary px-2 py-2 rounded-md;
}

.btn-primary {
  @apply bg-primary text-secondary px-2 py-2 rounded-md;
}

.btn-outline {
  @apply border border-secondary px-2 py-2 rounded-md text-secondary;
}
.btn-outline:hover {
  @apply bg-secondary text-primary rounded-md transition-all;
}
